<div class="align-self-lg-center">
	<h1>We have sent an email to you, please comfirm your email for the first time then return and order again</h1>
	<a class="btn btn-success" asp-action="Index" asp-controller="Cart">Return</a>
</div>